| dplyr 함수 | 기능 |
| :-- | :-- |
| filter()| 행추출|
| select()| 열 추출|
| arrange() | 정렬|
| summarise()| 통계치 산출|
| group_by()| 집단별로 나누기|
| left_join()| 데이터 합치기(열)|
| bind_rows()| 데이터 합치기(행)|

In [5]:
library(dplyr)

In [6]:
exam <- read.csv("../data/csv_exam.csv")
head(exam)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58
5 5  2     25   80      65
6 6  2     50   89      98

In [3]:
# class 가 1인 경우만 추출
#filter()	행추출
exam %>% filter(class ==1 )

# %>% : 파이프 연산자 (pipe operator)
#함수들을 연결하는 기능

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58

In [5]:
## class 가 1 이 아닌 경우만 추출

exam %>% filter(class !=1 )

   id class math english science
1   5 2     25   80      65
2   6 2     50   89      98
3   7 2     80   90      45
4   8 2     90   78      25
5   9 3     20   98      15
6  10 3     50   98      45
7  11 3     65   65      65
8  12 3     45   85      32
9  13 4     46   98      65
10 14 4     48   87      12
11 15 4     75   56      78
12 16 4     58   98      65
13 17 5     65   68      98
14 18 5     80   78      90
15 19 5     89   68      87
16 20 5     78   83      58

In [6]:
# math가 50을 초과한 경우만 추출
exam%>% filter(math > 50)

   id class math english science
1   2 1     60   97      60
2   7 2     80   90      45
3   8 2     90   78      25
4  11 3     65   65      65
5  15 4     75   56      78
6  16 4     58   98      65
7  17 5     65   68      98
8  18 5     80   78      90
9  19 5     89   68      87
10 20 5     78   83      58

## 여러 조건을 충족하는 행 추출

In [8]:
## class 가 1이면서 math가 50 이상인 경우
exam%>% filter(class ==1 & math >=50)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60

## 여러 조건 중 하나 이상 충족하는 행 추출

In [9]:
# math가 90 이상이거나 english가 90 이상인 경우
exam %>% filter(math >90 | english >= 90)

  id class math english science
1  1 1     50   98      50
2  2 1     60   97      60
3  4 1     30   98      58
4  7 2     80   90      45
5  9 3     20   98      15
6 10 3     50   98      45
7 13 4     46   98      65
8 16 4     58   98      65

## 목록에 해당되는 행 추출

In [10]:
# class 가 1,3,5에 해당하면 추출
exam %>% filter(class ==1 | class ==3 | class == 5)

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   9 3     20   98      15
6  10 3     50   98      45
7  11 3     65   65      65
8  12 3     45   85      32
9  17 5     65   68      98
10 18 5     80   78      90
11 19 5     89   68      87
12 20 5     78   83      58

In [11]:
# %in% 이용하기
exam %>% filter(class %in% c(1,3,5))
#exam %>% filter(class ==1 | class ==3 | class == 5) 와같은것이다.
#뒤에 나오는 백터에 일치하는 값만 추출한것

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   9 3     20   98      15
6  10 3     50   98      45
7  11 3     65   65      65
8  12 3     45   85      32
9  17 5     65   68      98
10 18 5     80   78      90
11 19 5     89   68      87
12 20 5     78   83      58

## 추출한 행으로 데이터 만들기

In [12]:
# class 가 1인 행 추출, class1 에 할당
class1 <- exam %>% filter(class ==1)
class1

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58

In [13]:
# class가 1인 행의 math 평균 구하기
mean(class1$math)

[1] 46.25

## mpg 데이터 분석 연습

*분석계획* : <br>
1. 자동차 배기량에 따라 고속도로 연비가 다른지 알아보려고 함. displ(배기량)이 4이하인 자동차와 5이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 분석.<br>
2. 자동차 제조사 별로 도시 연비가 다른지 알아보려고 함. audi와 toyota 중 어느 manufacturer(자동차 제조사)의 cty(도시 연비)가 평균적으로 더 높은지 분석.<br>
3. chevrolet, ford, honda 자동차의 고속도로 연비 평균을 알아보려고 함. 이 회사들의 데이터를 추출한 후 hwy 전체 평균을 분석.

In [15]:
mpg <- as.data.frame(ggplot2::mpg)

In [14]:
a1 <- mpg %>% filter(displ <= 4)

In [21]:
mean(a1$hwy)

[1] 17.98837

In [53]:
a2 <- mpg %>% filter(displ >= 5)

In [24]:
mean(a2$hwy)

[1] 24.40404

In [25]:
audi <- mpg %>% filter(manufacturer == "audi")

In [27]:
toyota <-mpg %>% filter(manufacturer == "toyota")

In [28]:
mean(audi$cty)

[1] 17.61111

In [32]:
mean(toyota$cty)

[1] 18.52941

In [33]:
chevrolet<-mpg %>% filter(manufacturer == "chevrolet")

In [34]:
ford<-mpg %>% filter(manufacturer == "ford")

In [35]:
honda<-mpg %>% filter(manufacturer == "honda")

In [45]:
h1 <- mean(chevrolet$hwy)
h1

[1] 21.89474

In [47]:
h2 <- mean(ford$hwy)
h2

[1] 19.36

In [49]:
h3 <- mean(honda$hwy)
h3

[1] 32.55556

In [52]:
h1+h2+h3 /3

[1] 52.10659

## 필요한 변수만 추출하기

In [7]:
# exam 데이터에서 math 추출
exam %>% select(math)

#select 함수를 사용하면 해당 열 이름만 추출할 수 있다.

   math
1  50
2  60
3  45
4  30
5  25
6  50
7  80
8  90
9  20
10 50
11 65
12 45
13 46
14 48
15 75
16 58
17 65
18 80
19 89
20 78

## 여러 변수 추출

In [8]:
# class, math, english 변수 추출
exam %>% select(class, math, english)

   class math english
1  1     50   98
2  1     60   97
3  1     45   86
4  1     30   98
5  2     25   80
6  2     50   89
7  2     80   90
8  2     90   78
9  3     20   98
10 3     50   98
11 3     65   65
12 3     45   85
13 4     46   98
14 4     48   87
15 4     75   56
16 4     58   98
17 5     65   68
18 5     80   78
19 5     89   68
20 5     78   83

## 변수 제외하기

In [9]:
# 필요없는 변수만 제외
#math, english 제외
exam %>% select(-math, -english)

   id class science
1   1 1     50
2   2 1     60
3   3 1     78
4   4 1     58
5   5 2     65
6   6 2     98
7   7 2     45
8   8 2     25
9   9 3     15
10 10 3     45
11 11 3     65
12 12 3     32
13 13 4     65
14 14 4     12
15 15 4     78
16 16 4     65
17 17 5     98
18 18 5     90
19 19 5     87
20 20 5     58

## dplyr 함수 조합
 - 파이프연산자를 사용하는 이유는 함수끼리 연결을 시킬때 엄청 유용하기 때문이다.

In [11]:
# class 가 1인 행에서 english 추출
exam %>% 
    filter(class ==1) %>% 
    select(english)

  english
1 98
2 97
3 86
4 98

In [12]:
# 일부만 출력
exam %>% 
    select(id,math) %>%
    head()

  id math
1 1  50
2 2  60
3 3  45
4 4  30
5 5  25
6 6  50

## mpg 데이터 분석 연습
*분석계획* : <br>
1. mpg데이터에서 class(자동차 종류), cty(도시 연비) 변수만 추출해 새로운 데이터 생성. <br>
2. 자동차 종류에 따라 도시 연비가 다른지 알아보려고 함. class(자동차 종류)가 "suv"인 자동차와 "compact"인 자동차 중 어떤 자동차의 cty(도시 연비) 평균이 더 높은지 분석.

In [16]:
mpg %>%
    select(class, cty)

    class      cty
1   compact    18
2   compact    21
3   compact    20
4   compact    21
5   compact    16
6   compact    18
7   compact    18
8   compact    18
9   compact    16
10  compact    20
11  compact    19
12  compact    15
13  compact    17
14  compact    17
15  compact    15
16  midsize    15
17  midsize    17
18  midsize    16
19  suv        14
20  suv        11
21  suv        14
22  suv        13
23  suv        12
24  2seater    16
25  2seater    15
26  2seater    16
27  2seater    15
28  2seater    15
29  suv        14
30  suv        11
... ...        ...
205 pickup     15
206 pickup     15
207 pickup     16
208 compact    21
209 compact    19
210 compact    21
211 compact    22
212 compact    17
213 compact    33
214 compact    21
215 compact    19
216 compact    22
217 compact    21
218 compact    21
219 compact    21
220 compact    16
221 compact    17
222 subcompact 35
223 subcompact 29
224 subcompact 21
225 subcompact 19
226 subcompact 20
227 subcompact 20
228 midsize    21
229 midsize    18
230 midsize    19
231 midsize    21
232 midsize    16
233 midsize    18
234 midsize    17

In [23]:
#자동차 종류에 따라 도시 연비가 다른지 알아보려고 함. 
#class(자동차 종류)가 "suv"인 자동차와 "compact"인 자동차 중 
#어떤 자동차의 cty(도시 연비) 평균이 더 높은지 분석.
suv <- mpg %>% filter(class == "suv")
ct1<-mean(suv$cty)
ct1

[1] 13.5

In [22]:
compact <- mpg %>% filter(class == "compact")
ct2<- mean(compact$cty)
ct2

[1] 20.12766

## 정렬

In [24]:
# exam 데이터 math 오름차순 정렬
exam %>% arrange(math)

   id class math english science
1   9 3     20   98      15
2   5 2     25   80      65
3   4 1     30   98      58
4   3 1     45   86      78
5  12 3     45   85      32
6  13 4     46   98      65
7  14 4     48   87      12
8   1 1     50   98      50
9   6 2     50   89      98
10 10 3     50   98      45
11 16 4     58   98      65
12  2 1     60   97      60
13 11 3     65   65      65
14 17 5     65   68      98
15 15 4     75   56      78
16 20 5     78   83      58
17  7 2     80   90      45
18 18 5     80   78      90
19 19 5     89   68      87
20  8 2     90   78      25

In [25]:
# math 내림차순 정렬
exam %>% arrange(desc(math))

   id class math english science
1   8 2     90   78      25
2  19 5     89   68      87
3   7 2     80   90      45
4  18 5     80   78      90
5  20 5     78   83      58
6  15 4     75   56      78
7  11 3     65   65      65
8  17 5     65   68      98
9   2 1     60   97      60
10 16 4     58   98      65
11  1 1     50   98      50
12  6 2     50   89      98
13 10 3     50   98      45
14 14 4     48   87      12
15 13 4     46   98      65
16  3 1     45   86      78
17 12 3     45   85      32
18  4 1     30   98      58
19  5 2     25   80      65
20  9 3     20   98      15

In [26]:
# 정렬 기준 변수 여러개 지정
# class 및 math 오름차순 정렬
exam %>% arrange(class, math)

#class 가 먼저 정렬이 되고 math의 순서가 정렬이 된다.
#그래서 위와같은 문법을 사용할때는 순서가 굉장히 중요하다

   id class math english science
1   4 1     30   98      58
2   3 1     45   86      78
3   1 1     50   98      50
4   2 1     60   97      60
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 12 3     45   85      32
11 10 3     50   98      45
12 11 3     65   65      65
13 13 4     46   98      65
14 14 4     48   87      12
15 16 4     58   98      65
16 15 4     75   56      78
17 17 5     65   68      98
18 20 5     78   83      58
19 18 5     80   78      90
20 19 5     89   68      87

## 파생변수 추가

In [28]:
# mutate() : 기존데이터에 파생변수 추가
# mutate(변수명 = 계산식)

#총합 변수 추가
exam %>%
    mutate(total =math + english + science) %>%
    head

  id class math english science total
1 1  1     50   98      50      198
2 2  1     60   97      60      217
3 3  1     45   86      78      209
4 4  1     30   98      58      186
5 5  2     25   80      65      170
6 6  2     50   89      98      237

In [30]:
# 여러 파생변수 한 번에 추가하기
exam %>%
    mutate(total = math+ english + science,
            mean = (math + english + science)/3) %>%
    head

  id class math english science total mean
1 1  1     50   98      50      198   66.00000
2 2  1     60   97      60      217   72.33333
3 3  1     45   86      78      209   69.66667
4 4  1     30   98      58      186   62.00000
5 5  2     25   80      65      170   56.66667
6 6  2     50   89      98      237   79.00000

In [31]:
# muteat()에 ifelst()적용하기
exam %>%
    mutate(test = ifelse(science >= 60, "pass","fail"))%>%
    head

  id class math english science test
1 1  1     50   98      50      fail
2 2  1     60   97      60      pass
3 3  1     45   86      78      pass
4 4  1     30   98      58      fail
5 5  2     25   80      65      pass
6 6  2     50   89      98      pass

In [32]:
# 추가한 변수를 dplyr 코드에 바로 활용하기
exam %>%
    mutate(total = math + english + science) %>%
    arrange(total) %>%
    head

  id class math english science total
1  9 3     20   98      15      133
2 14 4     48   87      12      147
3 12 3     45   85      32      162
4  5 2     25   80      65      170
5  4 1     30   98      58      186
6  8 2     90   78      25      193

1. mpg 데이터에서 cty와 hwy를 합"한산연비" 변수 추가
2. "합산연비"를 2로 나눠 "평균 연비" 변수를 추가
3. "평균 연비" 가 가장 높은 자동차 3종의 데이터를 출력

In [33]:
mpg %>%
    mutate(합산연비 =  cty+ hwy) %>%
    mutate(평균연비 = 합산연비/2) %>%
    arrange(평균연비)%>%
    head

  manufacturer model               displ year cyl trans      drv cty hwy fl
1 dodge        dakota pickup 4wd   4.7   2008 8   auto(l5)   4    9  12  e
2 dodge        durango 4wd         4.7   2008 8   auto(l5)   4    9  12  e
3 dodge        ram 1500 pickup 4wd 4.7   2008 8   auto(l5)   4    9  12  e
4 dodge        ram 1500 pickup 4wd 4.7   2008 8   manual(m6) 4    9  12  e
5 jeep         grand cherokee 4wd  4.7   2008 8   auto(l5)   4    9  12  e
6 chevrolet    k1500 tahoe 4wd     5.3   2008 8   auto(l4)   4   11  14  e
  class  합산연비 평균연비
1 pickup 21       10.5
2 suv    21       10.5
3 pickup 21       10.5
4 pickup 21       10.5
5 suv    21       10.5
6 suv    25       12.5

## 집단별로 요약하기

In [36]:
# exam 데이터에서 math 평균 산출
exam %>%
    summarise(mean_math = mean(math))

  mean_math
1 57.45

In [37]:
mean(exam$math)

[1] 57.45

In [38]:
#집단별로 요약하기
exam %>%
    group_by(class) %>% #class별로 분리
    summarise(mean_math = mean(math))

  class mean_math
1 1     46.25
2 2     61.25
3 3     45.00
4 4     56.75
5 5     78.00

In [39]:
#  여러 요약 통계량 한번에 산출하기
exam %>%
    group_by(class) %>%
    summarise(mean_math = mean(math),
              sum_math = sum(math),
                median_math = median(math),
                 n = n())

  class mean_math sum_math median_math n
1 1     46.25     185      47.5        4
2 2     61.25     245      65.0        4
3 3     45.00     180      47.5        4
4 4     56.75     227      53.0        4
5 5     78.00     312      79.0        4

- mena() : 평균
- sd() : 표준편차
- sum() : 합계
- median() : 중앙값
- min() : 최솟값
- max() : 최댓값
- n() : 빈도

In [41]:
# 각 집단별로 다시 집단 나누기
mpg %>%
    group_by(manufacturer, drv) %>% #제조사별로 나누고 나눈데이터 안에서 drv로 나누기
    summarise(mean_cty = mean(cty)) %>%
    head

  manufacturer drv mean_cty
1 audi         4   16.81818
2 audi         f   18.85714
3 chevrolet    4   12.50000
4 chevrolet    f   18.80000
5 chevrolet    r   14.10000
6 dodge        4   12.00000

In [45]:
#회사별로 "suv" 자동차의 도시 및 고속도로 통합 연비
#평균을 구해 내림차순으로 정렬하고, 상위 5개 출력하기
mpg %>%
    group_by(manufacturer) %>%
    filter(class == "suv") %>%
    mutate(tot = (cty + hwy)/2) %>%
    summarise(mean_tot = mean(tot)) %>%
    arrange(desc(mean_tot)) %>%
    head(5)

  manufacturer mean_tot
1 subaru       21.91667
2 toyota       16.31250
3 nissan       15.87500
4 mercury      15.62500
5 jeep         15.56250

1. 어떤 차종의 도시 연비가 높은지 비교하려고 함. class별 cty 평균 구한 뒤 내림차순으로 정렬. <br>
2. 어떤 회사 자동차의 hwy가 가장 높은지 알아보려고 함. hwy 평균이 가장 높은 회사 세 곳을 출력. <br>
3. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 함. 각 회사별 "compact" 차종 수를 내림차순으로 정렬.

In [47]:
mpg %>%
    group_by(class) %>%
    summarise(mean_cty = mean(cty)) %>%
    arrange(desc(mean_cty))

  class      mean_cty
1 subcompact 20.37143
2 compact    20.12766
3 midsize    18.75610
4 minivan    15.81818
5 2seater    15.40000
6 suv        13.50000
7 pickup     13.00000

In [53]:
mpg %>%
    group_by(manufacturer) %>%
    summarise(mean_hwy = mean(hwy)) %>%
    arrange(desc(mean_hwy)) %>%
    head(3)

  manufacturer mean_hwy
1 honda        32.55556
2 volkswagen   29.22222
3 hyundai      26.85714

In [54]:
mpg %>%
    filter(class == "compact") %>%
    group_by(manufacturer) %>%
    summarise(count = n()) %>%
    arrange(desc(count))

  manufacturer count
1 audi         15
2 volkswagen   14
3 toyota       12
4 subaru        4
5 nissan        2

## 데이터 합치기

In [57]:
# 데이터 생성
test1 <- data.frame(id = c(1,2,3,4,5),
                    midterm = c(60,50,70,89,90))
test2<- data.frame(id = c(1,2,3,4,5),
                    final =c(80,70,46,70,90))

In [58]:
test1

  id midterm
1 1  60
2 2  50
3 3  70
4 4  89
5 5  90

In [59]:
test2

  id final
1 1  80
2 2  70
3 3  46
4 4  70
5 5  90

In [61]:
# id 기준으로 합쳐서 df_total에 할당
df_total <- left_join(test1, test2, by = "id")
df_total

  id midterm final
1 1  60      80
2 2  50      70
3 3  70      46
4 4  89      70
5 5  90      90

In [62]:
df_name <-data.frame(class = c(1,2,3,4,5),
    teacher = c("kim",'lee',"park","choi","jung"))

In [63]:
df_name

  class teacher
1 1     kim
2 2     lee
3 3     park
4 4     choi
5 5     jung

In [65]:
#class 기준으로 합치기
exam_new <- left_join(exam, df_name, by="class")
exam_new

   id class math english science teacher
1   1 1     50   98      50      kim
2   2 1     60   97      60      kim
3   3 1     45   86      78      kim
4   4 1     30   98      58      kim
5   5 2     25   80      65      lee
6   6 2     50   89      98      lee
7   7 2     80   90      45      lee
8   8 2     90   78      25      lee
9   9 3     20   98      15      park
10 10 3     50   98      45      park
11 11 3     65   65      65      park
12 12 3     45   85      32      park
13 13 4     46   98      65      choi
14 14 4     48   87      12      choi
15 15 4     75   56      78      choi
16 16 4     58   98      65      choi
17 17 5     65   68      98      jung
18 18 5     80   78      90      jung
19 19 5     89   68      87      jung
20 20 5     78   83      58      jung

In [66]:
#세로로 합치기
group_a <- data.frame(id= c(1,2,3,4,5),
                     test= c(56,34,76,68,78))
#세로로 합치기
group_b <- data.frame(id= c(6,7,8,9,10),
                     test= c(56,34,96,38,88))

In [67]:
group_a

  id test
1 1  56
2 2  34
3 3  76
4 4  68
5 5  78

In [68]:
group_b

  id test
1  6 56
2  7 34
3  8 96
4  9 38
5 10 88

In [69]:
# 데이터를 세로로 합쳐서 group_all 에 할당
group_all <- bind_rows(group_a,group_b)
group_all

   id test
1   1 56
2   2 34
3   3 76
4   4 68
5   5 78
6   6 56
7   7 34
8   8 96
9   9 38
10 10 88

## mpg데이터 분석연습

In [78]:
#fuel 데이터
fuel <- data.frame(fl = c("c","d","e","p","r"),
                      price_fl = c(2.34,2.45,2.55,2.12,2.55),
                    stringsAsFactors =F)

In [76]:
fuel

  fl price_fl stringAsFactors
1 c  2.34     FALSE
2 d  2.45     FALSE
3 e  2.55     FALSE
4 p  2.12     FALSE
5 r  2.55     FALSE

In [79]:
left_join(mpg,fuel,by="fl")

    manufacturer model              displ year cyl trans      drv cty hwy fl
1   audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2   audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3   audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4   audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5   audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6   audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7   audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8   audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9   audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10  audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11  audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12  audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13  audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14  audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15  audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16  audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17  audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18  audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
21  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
22  chevrolet    c1500 suburban 2wd 5.7   1999 8   auto(l4)   r   13  17  r
23  chevrolet    c1500 suburban 2wd 6.0   2008 8   auto(l4)   r   12  17  r
24  chevrolet    corvette           5.7   1999 8   manual(m6) r   16  26  p
25  chevrolet    corvette           5.7   1999 8   auto(l4)   r   15  23  p
26  chevrolet    corvette           6.2   2008 8   manual(m6) r   16  26  p
27  chevrolet    corvette           6.2   2008 8   auto(s6)   r   15  25  p
28  chevrolet    corvette           7.0   2008 8   manual(m6) r   15  24  p
29  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   14  19  r
30  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   11  14  e
... ...          ...                ...   ...  ... ...        ... ... ... ...
205 toyota       toyota tacoma 4wd  3.4   1999 6   auto(l4)   4   15  19  r
206 toyota       toyota tacoma 4wd  4.0   2008 6   manual(m6) 4   15  18  r
207 toyota       toyota tacoma 4wd  4.0   2008 6   auto(l5)   4   16  20  r
208 volkswagen   gti                2.0   1999 4   manual(m5) f   21  29  r
209 volkswagen   gti                2.0   1999 4   auto(l4)   f   19  26  r
210 volkswagen   gti                2.0   2008 4   manual(m6) f   21  29  p
211 volkswagen   gti                2.0   2008 4   auto(s6)   f   22  29  p
212 volkswagen   gti                2.8   1999 6   manual(m5) f   17  24  r
213 volkswagen   jetta              1.9   1999 4   manual(m5) f   33  44  d
214 volkswagen   jetta              2.0   1999 4   manual(m5) f   21  29  r
215 volkswagen   jetta              2.0   1999 4   auto(l4)   f   19  26  r
216 volkswagen   jetta              2.0   2008 4   auto(s6)   f   22  29  p
217 volkswagen   jetta              2.0   2008 4   manual(m6) f   21  29  p
218 volkswagen   jetta              2.5   2008 5   auto(s6)   f   21  29  r
219 volkswagen   jetta              2.5   2008 5   manual(m5) f   21  29  r
220 volkswagen   jetta              2.8   1999 6   auto(l4)   f   16  23  r
221 volkswagen   jetta              2.8   1999 6   manual(m5) f   17  24  r
222 volkswagen   new beetle         1.9   1999 4   manual(m5) f   35  44  d
223 volkswagen   new beetle         1.9   1999 4   auto(l4)   f   29  41  d
224 volkswagen   new beetle         2.0   1999 4   manual(m5) f   21  29  r
225 volkswagen   new beetle         2.0   1999 4   auto(l4)   f   19  26  r
226 volkswagen   new beetle         2.5   2008 5   manual(m5) f   20  28  r
227 volkswagen   new beetle         2.5   2008 5   auto(s6)   f   20  29  r
228 volkswagen   passat             1.8   1999 4   manual(m5) f   21  29  p
229 volkswagen   passat             1.8   1999 4   auto(l5)   f   18  29  p
230 volkswagen   passat             2.0   2008 4   auto(s6)   f   19  28  p
231 volkswagen   passat             2.0   2008 4   manual(m6) f   21  29  p
232 volkswagen   passat             2.8   1999 6   auto(l5)   f   16  26  p
233 volkswagen   passat             2.8   1999 6   manual(m5) f   18  26  p
234 volkswagen   passat             3.6   2008 6   auto(s6)   f   17  26  p
    class      price_fl
1   compact    2.12
2   compact    2.12
3   compact    2.12
4   compact    2.12
5   compact    2.12
6   compact    2.12
7   compact    2.12
8   compact    2.12
9   compact    2.12
10  compact    2.12
11  compact    2.12
12  compact    2.12
13  compact    2.12
14  compact    2.12
15  compact    2.12
16  midsize    2.12
17  midsize    2.12
18  midsize    2.12
19  suv        2.55
20  suv        2.55
21  suv        2.55
22  suv        2.55
23  suv        2.55
24  2seater    2.12
25  2seater    2.12
26  2seater    2.12
27  2seater    2.12
28  2seater    2.12
29  suv        2.55
30  suv        2.55
... ...        ...
205 pickup     2.55
206 pickup     2.55
207 pickup     2.55
208 compact    2.55
209 compact    2.55
210 compact    2.12
211 compact    2.12
212 compact    2.55
213 compact    2.45
214 compact    2.55
215 compact    2.55
216 compact    2.12
217 compact    2.12
218 compact    2.55
219 compact    2.55
220 compact    2.55
221 compact    2.55
222 subcompact 2.45
223 subcompact 2.45
224 subcompact 2.55
225 subcompact 2.55
226 subcompact 2.55
227 subcompact 2.55
228 midsize    2.12
229 midsize    2.12
230 midsize    2.12
231 midsize    2.12
232 midsize    2.12
233 midsize    2.12
234 midsize    2.12

## midwest 데이터 분석 연습
*분석계획* : <br>
1. popadults(해당 지역 성인 인구), poptotal(전체 인구)를 이용하여 "전체 인구 대비 미성년 인구 비율" 변수를 추가. <br>
2. 미성년 인구 비율이 가장 높은 상위 5개 county의 미성년 인구 비율을 출력. <br>
3. 아래 기준에 따라 미성년 비율 등급 변수를 추가하고, 각 등급에 몇 개의 지역이 있는지 파악. <br>

- large : 40% 이상
- middle : 30 ~ 40%
- small : 30% 미만 

4. popasian(해당 지역의 아시아인 인구)를 활용하여 "전체 인구 대비 아시아인 인구 비율" 변수를 추가하고 하위 10개 지역의 state, county, 아시아인 인구 비율을 출력.

In [ ]:
#3번은 n활용