## 결측치 찾기

- 결측치의 의의
    - 누락된값, 비어있는 값
    - 결측치가 있으면 함수가 적용되지 않거나 분석 결과가 왜곡되는 결과가발생
    - 결측치를 제거 한 후 분석 실시
    - 표기법 : 대분자 NA() 
        -NA = NotAvailable

In [1]:
#결측치가 있는 데이터 생성
df <- data.frame(
    sex= c("M","F", NA, "M","F"),
    score = c(5,4,3,4,NA))
df

  sex score
1 M    5
2 F    4
3 NA   3
4 M    4
5 F   NA

In [3]:
#결측치 확인
is.na(df)

     sex   score
[1,] FALSE FALSE
[2,] FALSE FALSE
[3,]  TRUE FALSE
[4,] FALSE FALSE
[5,] FALSE  TRUE

In [4]:
#결측치 빈도 출력
table(is.na(df))

FALSE  TRUE
    8     2

In [5]:
#각 변수별로 결측치 확인
table(is.na(df$sex))
table(is.na(df$score))

FALSE  TRUE
    4     1

FALSE  TRUE
    4     1

In [6]:
#결측치가 포함된 상태로 분석
mean(df$score)

[1] NA